<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
  <coverage>
    <report>
      <clover outputFile="coverage.xml"/>
      <html outputDirectory="report"/>
    </report>
  </coverage>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_DATABASE" value="app"/>
        <env name="DB_USERNAME" value="user"/>
        <env name="DB_PASSWORD" value="password"/>
    </php>
    <logging>
        <junit outputFile="junit.xml"/>
    </logging>
        <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>
</phpunit>
